
.iframe-video
{
display: inline-block;
 width: 27%;
 height: 222px;
 border: 0;
 margin: 0 2.5% 0 2.5%;

}

.block11{

    padding: 50px 20% 0px 21%;
    height: 222px;

}

.form-block{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    display: flex;
  align-items: center;
  justify-content: center;
    height: 440px;

}

.input{
    float: right;
    display: inline-block;
    width: 240px;

    box-shadow: none;
    padding: 10px 15px;
    box-sizing: border-box;
    vertical-align: middle;


    border-radius: 4px;
    outline: none;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    transition: .2s ease-in-out;
    color: #5a5a5a;
}

.form{
    border-radius: 8px;
    display:block;
    width: 420px;
    height: 284px;

    box-shadow: 0px 0px 20px rgba(121, 121, 121, 1);

    background: white;

}
.text{

    margin: 0 0 0 0;
    color: #ffffff;
    font-size: 42px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-align: center;
    z-index: 20;
}
.green-block{

    background: #0db79b;
    height: 15px;
    width: 500px;
    position: relative;
    left: 50%;
    top: 62px;
    z-index: -2;
    transform: translateX(-50%);
}
.input-div{
    color: #a9a9a9;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 18px;
    justify-content: space-between;
    height: 48px;
    width: 100%-56px;
    padding: 0 28px;

    font-size: 16px;


}

.button-container{

    text-align: center;
    text-decoration:none;
 height: 60px;
    display: flex;
    justify-content: center;
    padding:4px 28px;
}
.button-container>a{

    font: 400 13.3333px Arial;
    padding: 4px 0 8px 0;
    margin: 0;
        color: #fff;
        transition: .3s linear;
    display: inline-block;
    text-decoration:none;

    height: 100%-12px;
    width: 100%;
    font-size: 11px;
}
.facebook-button{
    background: linear-gradient(180deg,#41a5fc 0,#0586ff);
    border-radius: 5px 0 0 5px;
}
.facebook-button:hover{
    background: linear-gradient(180deg,#41a5fc 0,#41a5fc);

}
.telegram-button{
        background: linear-gradient(180deg,#20b1f5 0,#169fe3);
}
.telegram-button:hover{
        background: linear-gradient(180deg,#20b1f5 0,#20b1f5);
}
.viber-button{

    background: linear-gradient(180deg,#742ea6 0,#59267c);
    border-radius: 0 5px 5px 0;
}
.viber-button:hover{

    background: linear-gradient(180deg,#742ea6 0,#742ea6);
}
.icon{

    width: 36px;
    height: 36px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding: 6px;
}
.checkbox{
    
}
.margin{

    margin: 0 0 0 0;
    background: #1c1c1c;
}

/*  кнопка */
    .floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 300px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .5s;
}
.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-10px);
}
