{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<textarea readonly id = "chat-log" rows="40" cols="40"></textarea><br>
<input id = "text-input" type="text" size = "30">
<input id = "send-button" type="button" value="Send">
<div id="admin" data-source="body.html"></div>
</body>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script  src="{% static 'js/main.js' %}"></script>
<script>

    const roomName = {{ room_name }}

    var adminSocket = new ReconnectingWebSocket(
            'wss://'
            + window.location.host
            + '/ws/chat/'
    );

    var chatSocket = new ReconnectingWebSocket(
            'wss://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

    chatSocket.onmessage = function(e) {
        console.log('arrived to chat');
        const data = JSON.parse(e.data);
        console.log(data);
        var message = data['text'] + '(' + data['time'] + ')';
        document.querySelector('#chat-log').value += message + '\n';
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#text-input').focus();
    document.querySelector('#text-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#send-button').click();

        }
    };
    document.querySelector('#send-button').onclick = function(e) {
        var messageInputDom = document.querySelector('#text-input');
        var message = messageInputDom.value;
        if (message != ''){
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        adminSocket.send(JSON.stringify({
            'message': message,
            'room': roomName
        }));
        messageInputDom.value = '';
        }
    };

</script>


</html>